body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.carousel-item img {
  max-height: 800px;
}

.contenedorP {
  margin-top: 30px;
  margin-bottom: 10px;
}
.contenedorP .presentacion {
  line-height: 30px;
  font-family: "Segoe UI";
  padding-top: 20px;
}
.contenedorP .presentacion h2 {
  font-size: 26px;
  font-family: "Segoe UI";
}
.contenedorP .presentacion p {
  font-size: 20px;
}

@media (max-width: 576px) {
  .contenedorP {
    margin-top: 2px;
  }
  .contenedorP .presentacion h2 {
    text-align: center;
  }
  .contenedorP .presentacion p {
    font-size: 17px;
    text-align: justify;
  }
  .contenedorP .mapa {
    height: 300px;
    width: 550px;
  }
}
@media (max-width: 992px) {
  .mapa {
    width: 450px;
  }
}
nav {
  background-color: azure;
  height: 100px;
}
nav .imagen {
  height: 70px;
  padding-left: 20px;
}
nav .container-fluid {
  --bs-gutter-x: 0 ;
}
nav .navegacion {
  background-color: azure;
  position: relative;
  z-index: 1;
  padding-left: 12px;
}

footer {
  background-color: azure;
  height: 120px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.contacto {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  line-height: 15px;
}

.socialMedia {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.links {
  display: flex;
  justify-content: space-around;
}

.insta {
  color: darkred;
}

@media (max-width: 1023px) {
  footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 200px;
  }
  .links {
    display: flex;
    flex-direction: column;
  }
}
.contenedorConocenos {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedorConocenos .texto-intro {
  font-size: 20px;
}

.contenedor-mama {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.contenedor-mama .imagenMama {
  height: 500px;
}

.texto-papas {
  font-size: 20px;
  width: 600px;
}

.titulo-yo {
  text-align: center;
}

.contenedor-papa {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.contenedor-papa .imagenPapa {
  height: 500px;
  width: 470px;
  margin-bottom: 20px;
}

@media (max-width: 1094px) {
  .contenedorConocenos {
    flex-direction: column;
  }
  .contenedorConocenos .titleConocenos {
    text-align: center;
  }
  .contenedorConocenos .texto-intro {
    font-size: 20px;
    text-align: justify;
    width: 500px;
  }
  .contenedorConocenos .globo {
    height: 200px;
  }
  .contenedor-mama {
    flex-direction: column-reverse;
  }
  .contenedor-mama .imagenMama {
    height: 400px;
  }
  .texto-papas {
    font-size: 19px;
    width: 500px;
  }
  .titulo-yo {
    margin-top: 9px;
  }
  .contenedor-papa {
    flex-direction: column;
  }
  .contenedor-papa .imagenPapa {
    height: 330px;
    width: 350px;
  }
}
@media (max-width: 576px) {
  .contenedorConocenos {
    flex-direction: column;
  }
  .contenedorConocenos .introduccion {
    margin-left: 12px;
  }
  .contenedorConocenos .titleConocenos {
    text-align: center;
  }
  .contenedorConocenos .texto-intro {
    font-size: 18px;
    text-align: justify;
    width: 500px;
  }
  .contenedorConocenos .globo {
    height: 200px;
  }
  .contenedor-mama {
    flex-direction: column-reverse;
  }
  .contenedor-mama .imagenMama {
    height: 370px;
  }
  .texto-papas {
    font-size: 18px;
    width: 500px;
  }
  .titulo-yo {
    margin-top: 9px;
  }
  .contenedor-papa {
    flex-direction: column;
  }
  .contenedor-papa .imagenPapa {
    height: 300px;
    width: 350px;
  }
}
.servicios {
  min-height: calc(100vh - 100px - 120px);
}

@media (max-width: 768px) {
  .servicios {
    display: flex;
    flex-direction: column;
  }
  .servicios h3 {
    text-align: center;
  }
  .servicios2 {
    display: flex;
    flex-direction: column;
  }
}
.transition-scale {
  transition: transform 1s ease;
}
.transition-scale:hover {
  transform: scale(1.1);
}

@media (max-width: 767px) {
  .cartitas {
    margin-left: 100px;
  }
}
.formContenedor {
  min-height: calc(100vh - 100px - 120px);
}

/*# sourceMappingURL=styles.css.map */
