.transition-scale{
    transition: transform 1s ease;
    &:hover{
     transform: scale(1.1);
    }
  }

  .cartitas{
    margin-left: auto;
    margin-right: auto;
    height: 390px;
  }

@media (max-width:767px) and (min-width:360px){
    .cartitas{
    margin-left: auto;
    margin-right: auto;
    }
}