$font: 'Segoe UI';

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
  }

  .carousel-item img {
    max-height: 800px;
    
  }
  
  .contenedorP{
    margin-top: 30px;
    margin-bottom: 10px;

    .presentacion{
      line-height: 30px;
    font-family: $font;
    padding-top: 20px;

    h2{
      font-size: 26px;
font-family: $font;
    }

    p{
      font-size: 20px;
    }
    }
  }


  @media (max-width:576px){
    .contenedorP{
      margin-top: 2px;

      .presentacion{
        h2{
          text-align: center;
        }
        p{
          font-size: 17px;
          text-align: justify;
        }
      }

      .mapa{
        height: 300px;
        width: 550px;

      }
  }
  }

  @media (max-width:992px){
    .mapa{
      width: 450px;
    }
  }







