@media (max-width:768px) {
    /* Inicio */
      .contenedorP{
          margin-top: 2px;
      }
      .presentacion p {
          font-size: 17px;
        }
        .mapa{
          height: 300px;
          width: 550px;
        }
  
  /* Servicios */
  
  .servicios{
    display: flex;
    flex-direction: column;
  }
  .servicios h3{
    text-align: center;
  }
  .servicios2{
    display: flex;
    flex-direction: column;
  }
  
  }
  