nav {
    background-color: azure;
    height: 100px;
    width: 100vw;
    .imagen{
      height: 70px;
      padding-left: 20px;
    }

    .hamburguesa{
      width: 20px;
    }

    .container-fluid{
      --bs-gutter-x: 0
    }
    .navegacion{
      background-color: azure;
      position: relative;
      z-index: 1;
      padding-left: 12px;
    }
  }
