
.tituloCard{
  text-align: center;
padding-top: 12px;
}

.cartas{
    min-height: calc(100vh - 100px - 120px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

 .presentacionCard{
  font-size: 17px;
 }

    
  .imgMama {
      height: 250px;
    }
    
    .imgPapa {
      height: 250px;
    } 


    .transition-scale{
      transition: transform 1s ease;
      &:hover{
transform: scale(1.1);
      }
    }

    @media (max-width:767px){
      .tituloCard{
        margin-top: 10px;
      }
    }


    @media (max-width:1023px){
      .tituloCard{
        margin-top: 5px;
        margin-bottom: 20px;
      }
      .carta{
        margin-left: 20px;
      }
    }
