$font-size: 20px;
.contenedorConocenos{
  display: flex;
  justify-content: center;
  align-items: center;

  .texto-intro{
    font-size: $font-size;
  }
}

.contenedor-mama{
  display: flex;
}

.texto-papas{
  font-size: $font-size;
}